<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <div>
      MakeReddit
    </div>

    <div>
      log in/log out
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>
</body>

</html>