<div>
  <form action="/rooms/{{room.id}}/posts" method="post">
    <div class="form-group">
      <label for="post-subject">Subject</label>
      <input type="text" name="subject" id="post-subject" class="form-control">
    </div>
    <div class="form-group">
      <label for="post-body">Body</label>
      <input type="text" name="body" id="post-body" class="form-control">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</div>